* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

@font-face {
  font-family: "Cerebri";
  src: url("../fonts/CerebriSans-Bold.ttf") format("truetype"), url("../fonts/Cerebri-Sans-Bold.woff2") format("woff2"), url("../fonts/CerebriSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("../fonts/CerebriSans-SemiBold.ttf") format("truetype"), url("../fonts/Cerebri-Sans-SemiBold.woff2") format("woff2"), url("../fonts/CerebriSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("../fonts/CerebriSans-ExtraBold.ttf") format("truetype"), url("../fonts/Cerebri-Sans-ExtraBold.woff2") format("woff2"), url("../fonts/CerebriSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("../fonts/CerebriSans-Heavy.ttf") format("truetype"), url("../fonts/Cerebri-Sans-Heavy.woff2") format("woff2"), url("../fonts/CerebriSans-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("../fonts/CerebriSans-Regular.ttf") format("truetype"), url("../fonts/Cerebri-Sans-Regular.woff2") format("woff2"), url("../fonts/CerebriSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cerebri", sans-serif;
  background: #afafaf;
}

.container {
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
}

.header-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header-top__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  padding: 12px 17px 12px 0;
  color: inherit;
}

.header-top__email:hover {
  color: #7fad39;
}

.header-top__email:hover .icon-email-top {
  fill: #7fad39;
}

.header-top__email .icon-email-top {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: #fff;
}

.header-top__text {
  padding: 0 25px 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header-top .icon-top-social {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.header-top .icon-top-social:hover {
  fill: #7fad39;
}
/*# sourceMappingURL=style.css.map */